<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="vue.js" type="text/javascript"></script>
		<style type="text/css">
			*{
				margin: 0;
				padding: 0;
			}
			.del{
				color:red;
			}
			#app{text-align: center;position: relative;width: 100%;margin-left: auto;}
			li{border: 1px solid black;width: 100px;list-style: none;}
			ul{float: left;}
		</style>
	</head>
	<body>
		<div id="app">
			<ul>
				<li v-for="(per,index) in pers" :key="per.id">{{per.id}}</li>
			</ul>
			<ul >
				<li v-for="(per,index) in pers" :key="per.name">{{per.name}}</li>
			</ul>
			<ul >
				<li v-for="(per,index) in pers" :key="index">{{per.class}}</li>
			</ul>
			<ul class=".del">
				<li v-for="(per,index) in pers" @click="Del(index)" :key="index" :class="Mod">{{per.api}}</li>
			</ul>
		</div>
		<script type="text/javascript">
			Vue.config.productionTip=false
			var app=new Vue({
				el:'#app',
				data:{
					pers:[
						{id:'1',name:'汤宏飚',class:'19高计应',api:'删除'},
						{id:'2',name:'辛怡炜',class:'19高计应',api:'删除'},
						{id:'3',name:'颜义韩',class:'19高计应',api:'删除'},
						{id:'4',name:'彭昌熨',class:'19高计应',api:'删除'},
						{id:'5',name:'刘佳星',class:'19高计应',api:'删除'},
						{id:'6',name:'张金毫',class:'19高计应',api:'删除'},
						{id:'7',name:'袁家成',class:'19高计应',api:'删除'},
						{id:'8',name:'冯文杰',class:'19高计应',api:'删除'},
						{id:'9',name:'王一臣',class:'19高计应',api:'删除'},
						{id:'10',name:'肖洋韬',class:'19高计应',api:'删除'},
					],
					Mod:'del'
				},
				methods:{
					Del:function(inx){
						//console.log(this.pers)
						if(this.pers.length>1){
							this.pers.splice(inx,1)//删除
						}else{
							alert('只剩最后一个了')
						}
					}
				}
			})
		</script>
	</body>
</html>
