<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="/vue.js/vue.js"></script>
    <style>
        li{
            list-style: none;
        }
    </style>
</head>
<body>
    <div id="box">
        <ul>
            <input type="text" placeholder="请输入名字过滤项" v-model="inpt">
            <li v-for="(per,inx) in filper" :key="per.id">{{per.name}}-{{per.age}}-{{per.sex}}
            <input type="text">
            </li>
        </ul>
        <button @click="sorTyp=2">升序</button>
        <button @click="sorTyp=1">降序</button>
        <button @click="sorTyp=0">原顺序</button>
    </div>
    <script>
        Vue.config.productionTip = false
        let vm=new Vue({
            el:'#box',
            data:{
                pers:[
                    {id:'01',name:'马冬梅',age:'18',sex:'女'},
                    {id:'02',name:'周冬雨',age:'17',sex:'女'},
                    {id:'03',name:'周杰伦',age:'19',sex:'男'},
                    {id:'04',name:'温兆伦',age:'19',sex:'男'},
                ],
                inpt:'',
                sorTyp:0//0原顺序,1降序,2升序
            },
            // watch:{
            //     inpt:{
            //         immediate:true,
            //         handler:function(newval){
            //             let p=this.pers.filter(function(p){
            //             return p.name.indexOf(newval)!=-1
            //         })
            //         if(this.sorTyp!=0){
            //             p.sort(function(a,b){
            //                 return this.sorTyp==1?b.age-a.age:a.age-b.age
            //             })
            //         }
            //         this.filpers=p
            //         }
            //     },
            // }
             computed:{
                filper:function(){
                    let p=this.pers.filter((p)=>{//箭头函数
                        return p.name.indexOf(this.inpt)!=-1
                    })
                    if(this.sorTyp!=0){
                        p.sort((a,b)=>{
                            return this.sorTyp==1?b.age-a.age:a.age-b.age
                        })
                    }
                    return p
                }
            }
        })
    </script>
</body>
</html>